.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

html {
    background-color: #000;
}

.App-link {
    color: #61dafb;
}

.card-img {
    opacity: 0.5;
}

.nav a {
    font-size: larger;
    font-weight: 700;
}

#right-sidebar .card {
    margin-bottom: 1em;
}
